
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    background-color: rgb(232, 238,238);

}
body::after{
    background-image: url("10002353_to-do-list-la-gi-6.jpg");
    content: " ";
    height: 100vh;
    width: 100%;
    display: block;
    opacity: 0.2;
    filter: blur(10px);

}

.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px double rgb(137, 120, 136);
    z-index: 1;
    width: 500px;
}

.input-container{
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 20px;
}

.input-container input{
    border: none;
    outline: none;
    padding: 12px;
    margin-block: 12px;
    border-radius: 4px;
    font-size: 16px;
}

.input-container input[type="button"]{
    background-color: #c52c24;
    color: white;
    font-weight: 700;
    margin-left: 8px;
    cursor: pointer;
    padding: 12px 24px;
}

.input-container input[type="button"]:hover{
    background-color: #c26959;
}

.input-container input[type="text"]{
    
    width: 300px;
}
ul{
    width: 100%;
    max-width: 450px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

ul li{
    list-style: none;
    cursor: pointer;
    border: 1px solid #a19f9f;
    border-radius: 8px;
    margin-block-end: 12px;
    padding: 6px 12px;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

ul li p {
    flex-grow: 1;
    padding: 2px;

}

.input-container h1{
    color:rgb(65, 22, 69);
}

.btn{
    border:none;
    outline:none;
    font-size: 16px;
    background: none;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
}

.deleteBtn{
    color: red;
}

.editBtn{
    color: green;
}

ul li:hover{
    background-color: #cbcaca;
}

